#!/bin/bash

# Make default program
export EDITOR="vim";
export TERMINAL="urxvt";
export BROWSER="firefox";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=50000000;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";

# Set tmuxifier layout path
export PATH="$HOME/.tmuxifier/bin:$PATH"
export TMUXIFIER_LAYOUT_PATH="~/.tmuxifier_layouts"
